{% extends 'base.html' %}
{% load static %}
{% block mycontent %}
    <div class="container my-5">
        <div class="row">
            {%include 'interested_post.html'%}
            <div class="col-12 col-md-8 border border-danger pt-2">
                <a href="{% url 'home-page' %}" class="btn btn-outline-info btn-sn">Ortga qaytish</a>
                 <span class="me-3">{{post.date_added | time:'H:i'}} /
                            {{post.date_added | date:'d.m.y'}}</span>
                <span><i class="fa-solid fa-eye"></i>: {{post.post_view}} </span>
                        <h6>{{post.title}}</h6>
                        <p>{{post.body | safe}}</p>
            </div>

        </div>
    </div>
{% endblock %}

